{% extends 'base_top.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="create_form">
    <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="title_create">
            <h1>Title</h1>
            <input type="text" name = "title">
            <div class="clear"></div>
        </div> 

        <div class="create_content">
        <h1>Content:</h1> 
        <textarea name="content"></textarea>
        <div class="clear"></div>
        </div> 
        <div class="create_picture">
            <h1>Picture:</h1> <input type="file" name="images">
            <div class="clear"></div>
        </div>
        
        <input type="hidden" name="auther" value="{{ user.username}}">
        <input type="text" name="branch" value="{{ branch }}">
        
        <!-- <input type="hidden" name="branch" value="{{ branch }"}> -->
        <input type="submit" value="resister!">

        <a class="btn btn-outline-primary" href="{% url 'list' %}" role="button">Back To List</a>
    </form>
</div>
{% else %}
<h1> Please Login!!</h1>
<a class="btn btn-primary" href="{% url 'login' %}" role="button">To login page</a>
{% endif %}
{% endblock content %}