{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
    <p>Title: <input type="text" name = "title"></p>
    <p>Content: <input type="text" name="content"></p>
    <p>Picture: <input type="file" name="images">
    </p>
    <input type="hidden" name="auther" value="{{ user.username}}">
    <input type="text" name="branch" value="{{ branch }}">
    
    <!-- <input type="hidden" name="branch" value="{{ branch }"}> -->
    <input type="submit" value="resist">
    <a href="{% url 'list' %}">Back To List</a>
</form>
{% else %}
<h1> Please Login!!</h1>
<a href="{% url 'login' %}">To login page</a>
{% endif %}
{% endblock content %}