{% extends 'base.html'%}

{% block customcss %}
<div class="alert alert-primary" role="alert">
    Oyako Memo
  </div>

{% endblock customcss %}

{% block header %}

{% endblock header %}

{% block content %}
<div class='container'>
    <div class="alert alert-primary" role="success">
       <p>Title: {{object.title}}</p>
       <p>Upped by: {{object.auther}}</p>
       <p>Content: {{object.content}}</p>
       {% if object.images != "" %}
       <p> 
           <img src="{{object.images.url}}" width=100%>
       </p>
       {% endif %}
       {% if object.checked %}
         <a href="{% url 'checked_del' object.pk %}" class='btn btn-primary active' role="button" aria-pressed="true" >Checked!</a>
       {% else %}
       <a href="{% url 'checked_del' object.pk %}" class='btn btn-secondary active' role="button" aria-pressed="true" >Checked!</a>
       {% endif%}
        <a href="{% url 'delete' object.pk %}" class='btn btn-secondary active' role="button" aria-pressed="true" >delete</a>
       <a href="{% url 'create' object.pk %}" class='btn btn-secondary active' role="button" aria-pressed="true" >Resist Child MEMO!</a>
    </div>
  {% for item in object_list %}
  {% if item.branch == object.pk and not item.checked %}
  <div class="
  alert alert-primary" role="success">
     <p>Title:<a href="{% url 'detail' item.pk %}">{{item.title}}</a></p>
     <p>Upped by: {{item.auther}}</p>
     <a href="{% url 'checked_del' item.pk %}" class='btn btn-secondary active' role="button" aria-pressed="true" >Checked!</a>
     <a href="{% url 'delete' item.pk %}" class='btn btn-secondary active' role="button" aria-pressed="true" >delete</a>
     <a href="{% url 'create' item.pk %}" class='btn btn-secondary active' role="button" aria-pressed="true" >Resist Child MEMO!</a>
  </div>
  {% endif%}
  {% endfor %}
  <a href="{% url 'list' %}">Back </a>
</div>
{% endblock content %}

{% block sidebar%}
<div class ="sidevar-top">
  <h2 >Checked items</h2></div>
{% for item in object_list %}
{% if item.checked %}
  {% if item.auther == user.username and item.branch == object.pk %}
  <div class="alert alert-primary" role="success">
    <p>Title:<a href="{% url 'detail' item.pk %}">{{item.title}}</a></p>
  </div>
  {% endif %}
{% endif %}
{% endfor %}
{% endblock sidebar %}