{% extends 'base.html'%}

{% block customcss %}
<div class="alert alert-primary" role="alert">
    Oyako Memo
  </div>

{% endblock customcss %}

{% block header %}

{% endblock header %}

{% block content %}
<div class='container'>
  <div class="parent_item" >
    <h1 class="parent_header">Detail</h1>
    <div class="card mb-3  mx-auto" style="width: 90% ">
    {% if object.images != "" %}
    <img class="bd-placeholder-img card-img-top"  src="{{object.images.url}}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"></img>
    {% else %}
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
    {% endif %}
      <div class="card-body">
        <p>Title: {{object.title}}</p>
        <p>Upped by: {{object.auther}}</p>
        <p>Content: {{object.content}}</p>
    </div>
  </div>
    {% if object.checked %}
    <a href="{% url 'checked_del' object.pk %}" class='btn btn-primary active' role="button" aria-pressed="true" >Checked!</a>
  {% else %}
  <a href="{% url 'checked_del' object.pk %}" class='btn btn-secondary active' role="button" aria-pressed="true" >Checked!</a>
  {% endif%}
   <a href="{% url 'delete' object.pk %}" class='btn btn-secondary active' role="button" aria-pressed="true" >delete</a>
  <a href="{% url 'create' object.pk %}" class='btn btn-secondary active' role="button" aria-pressed="true" >Resist Child MEMO!</a>

  </div>  

  <div class= "child_items">
    <h1 class="child_header">Child Memos</h1>
  {% for item in object_list %}
  {% if item.branch == object.pk and not item.checked %}
  <div class="
  alert alert-primary child_item" role="success">
     <p>Title:<a href="{% url 'detail' item.pk %}">{{item.title}}</a></p>
     <p>Upped by: {{item.auther}}</p>
     <a href="{% url 'checked_del' item.pk %}" class='btn btn-secondary active' role="button" aria-pressed="true" >Checked!</a>
     <a href="{% url 'delete' item.pk %}" class='btn btn-secondary active' role="button" aria-pressed="true" >delete</a>
     <a href="{% url 'create' item.pk %}" class='btn btn-secondary active' role="button" aria-pressed="true" >Resist Child MEMO!</a>
  </div>
  {% endif%}
  {% endfor %}
  </div>
  {% if object.branch == 0 %}
    <a href="{% url 'list' %}">Back to list</a>
  {% else %}
    <a href="{% url 'detail' object.branch %}">Back to previous</a>  
  {% endif %}
</div>
{% endblock content %}

{% block sidebar%}
<h1 class= "sidebar-top ">Checked items</h1>
{% for item in object_list %}
{% if item.checked %}
  {% if item.auther == user.username and item.branch == object.pk %}
  <div class="alert alert-primary side_item" role="success">
    <p>Title:<a href="{% url 'detail' item.pk %}">{{item.title}}</a></p>
  </div>
</div>
  {% endif %}
{% endif %}
{% endfor %}
{% endblock sidebar %}