{% extends 'base.html'%}

{% block customcss %}
<div class="alert alert-primary" role="alert">
    Oyako Memo
    <div class="menu_icon">
      <span href="#" class="fa fa-bars"></span>

    </div>
</div>

{% endblock customcss %}

{% block header %}

{% endblock header %}

{% block content %}
<div class='container'>
    {% for item in object_list %}
    {% if not item.checked %}
    {% if item.auther == user.username and item.branch == 0 %}
    <div class="alert alert-primary" role="success">
       <p>Title:<a href="{% url 'detail' item.pk %}">{{item.title}}</a></p>
       <p>Upped by: {{item.auther}}</p>
       {% if item.checked %}
           <a href="{% url 'checked' item.pk %}" class='btn btn-primary active' role="button" aria-pressed="true" >Checked!</a>
       {% else %}
          <a href="{% url 'checked' item.pk %}" class='btn btn-secondary active' role="button" aria-pressed="true" >Not checked</a>
       {% endif %}
       <a href="{% url 'delete' item.pk %}" class='btn btn-secondary active' role="button" aria-pressed="true" >delete</a>
       <a href="{% url 'create' item.pk %}" class='btn btn-secondary active' role="button" aria-pressed="true" >Regist Child MEMO!</a>
      
    </div>
    {% endif%}
    {% endif%}
    {% endfor %}
    <a href="{% url 'logout' %}">logout</a>
    <a href="{% url 'create' %}">New Memo</a>

</div>
<!-- <div id="text_btn" class="btn fa facebook">
  <h1>test</h1>
  <h2></h2>
</div>
<script src="../static/js/front.js"></script> -->
{% endblock content %}


<!-- Sidebar Block -->
{% block sidebar %}
  <div>
    <h1 class= "sidebar-top ">Checked items</h1></div>
  {% for item in object_list %}
  {% if item.checked %}
    {% if item.auther == user.username and item.branch == 0 %}
    <div class="alert alert-primary side_item" role="success">
      <p>Title:<a href="{% url 'detail' item.pk %}">{{item.title}}</a></p>
    </div>
    {% endif %}
  {% endif %}
  {% endfor %}

{% endblock sidebar %}  